//modificaciones de css para bootstrap
$theme-colors: (
        "primary": #31b40d,
        "secondary": #495057,
        "info":#6F16B5,
        "azul-pagina":#005898
);

$azul-pagina:#005898;
$verde-original: #31b40d;
/* Color Theme Swatches in Hex */
$In-Working-Order-1-hex: #FACC87;
$In-Working-Order-2-hex: #EDA639;
$In-Working-Order-3-hex: #1F4152;
$In-Working-Order-4-hex: #598BA6;
$In-Working-Order-5-hex: #BCCFD9;
/* Color Theme Swatches in Hex */
$SPACE-ORDER-FORM-1-hex: #4A733F;
$SPACE-ORDER-FORM-2-hex: #3B7302;
$SPACE-ORDER-FORM-3-hex: #72A603;
$SPACE-ORDER-FORM-4-hex: #261E17;
$SPACE-ORDER-FORM-5-hex: #59493B;


@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

//$custom-checkbox-indicator-icon-checked:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'><path fill='#{$danger}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/></svg>") !default;
//.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
//  background-color:$gray-500;
//  border-color: $gray-500;
//}
//.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
//  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='red' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
//}